<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="CSS/homestyle.css">
        <title>Home Page</title>
    </head>
    <body>
        <nav id="navbar">
        
        <a id="pagetitle">Home Page</a>
        
        <div>
        	<a href="index.html"> logout  </a>
        </div>
		
	
        </nav>
        <div id="treebox">
            <p>Albero</p>
        </div>
		
		<div>
		
		 <ul th:fragment="fragment_category(categories)" >
     		<li th:each="c : ${categories.getSubCategories()}" th:inline="text">
         		<span th:text="${c.category + ' ' + c.name + ' >>> '}"></span>
         		<a href="CopyCategory?id=(c.id}">copia</a>
         		<ul th:replace="this::fragment_category(${c})"></ul>
     		</li>
 		</ul>
		</div>
			
        <div>
            <div>
                <p>Inserisci nuova categoria</p>
				<form action="AddCategory" method="POST">
					<input type="text" placeholder = "Nome Categoria" name = "name" id = "name"> <br>
					<input  type = "text" placeholder = "Nome Padre" name = "father" id ="father"><br>
					<input  type="submit" value="login">
				</form>
				<p id="errormessage" class="error"></p>

            </div>
        </div>


    </body>
</html>